In [2]:
import pandas as pd

In [3]:
train = pd.DataFrame({
    'user': ['ars44pro'],
    'name': ['Арсений'],
    'id': [1307702326]
})

In [33]:
train.loc[len(train)] = ['ars44pro', 'Арсений']

In [4]:
train

       user     name          id
0  ars44pro  Арсений  1307702326

In [5]:
train.to_excel('basa.xlsx')